//
// MDC Theme
//

@import "@material/theme/color-palette";
@import "@material/typography/mdc-typography";

$burst-blue: #00579d;
$burst-dark-blue: #001e35;

$mdc-theme-primary: $burst-blue;
$mdc-theme-secondary: #676778;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;
