.fullwidth {
    width: 100% !important;
}

.clickable {
    cursor: pointer;
}

.animation-pulse {
    animation: pulse 2s infinite;
}

.animation-fading {
    animation: fading 4s infinite alternate-reverse ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

@keyframes fading {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.8;
    }
}
